body {
  font-family: Arial, sans-serif;
  background: #ecf0f1;
  padding: 30px;
  max-width: 700px;
  margin: auto;
}
h1 {
  color: #2c3e50;
  width: 100%;
}
.info-box {
  background-color: #fff;
  padding: 15px;
  margin-top: 20px;
  border-left: 5px solid #3498db;
  border-radius: 5px;
}
.recommendation {
  margin-top: 20px;
  padding: 10px;
  background-color: #ffeaa7;
  border-left: 5px solid #fdcb6e;
  border-radius: 5px;
  color: #2d3436;
}
