body {
	background-color: #ffc0cb;
}

#welcome-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
}

.headings {
	text-align: center;
}

.headings > h1 {
	text-decoration: underline;
}

.headings > h2 {
	color: brown;
}

.headings > h3 {
	font-style: italic;
}

.content > p {
	font-size: 20pt;
	font-weight: bold;
	text-decoration: underline;
}

#bold {
	font-weight: bold;
}

#underline {
	text-decoration: underline;
}

#italic {
	font-style: italic;
}

#font {
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#size {
	font-size: 10pt;
}

#color {
	color: red;
}

#home-link img {
	display: block;
	margin: 0 auto;
	background-color: white;
}

#contact-link {
	float: right;
}

#copy {
	text-align: center;
}

#mailbox img {
	display: block;
	margin: 0 auto;
}
