body {
	background-color: #eedfbb;
	color: #722f37;
}

h1 {
	text-align: center;
	text-decoration: underline;
}

table {
	width: 500px;
}

table,
td,
th {
	margin: 0 auto;
	border: #722f37 2px solid;
	border-collapse: collapse;
	padding: 10pt;
}

#titles {
	text-align: center;
	text-decoration: underline;
	font-size: 15pt;
}

.interests td {
	border: none;
}

textarea {
	width: 100%;
	resize: none;
}

input[type="submit"],
input[type="reset"] {
	padding: 5px;
	background-color: transparent;
	border: #722f37 2px solid;
	color: #722f37;
	cursor: pointer;
	text-align: center;
	margin: 0 5px;
}

.btns {
	text-align: center;
}

/* Login */

fieldset {
	width: 400px;
	margin: 0 auto;
}

.sign {
	text-align: center;
}
