.slideshow {
  display: flex;
  flex-direction: column;
  gap: 4em;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
}

.buttons {
  display: flex;
  gap: 2em;
  justify-content: center;
  align-items: center;
}

button {
  padding: 1em 2em;
  border-radius: 0.5em;
  border: none;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover {
  background-color: #33333350;
}

.caption {
  font-size: 1.2em;
  font-weight: 600;
  color: #333;
}
